body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    background-color: #1A2238;
}

 .container {
     display: grid ;
     grid-template-columns: 1fr;
 }

li{
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.nav-wrapper {
    width: 100%;
    margin-top: -1rem;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: top 0.7s ease-in-out;
}

.nav-wrapper.hide {
    top: -80px;
 }
.navbar {
    background-color: #1a2238e0;
    min-height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative ;
    display: flex;
    justify-content: space-between;
    padding: 26px;
    padding-bottom: 10px;
}

.nav-links a {
    font-size: 1.4em;
    text-decoration: none;
    color: #FF6A3D;
    height: 26px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-links a:hover{
    color: white;
    transition: 0.5s ease;
    border-bottom: 2px solid white;
}


/* LOGO */
.logo {
   padding-top: 5px;
   padding-left: 38px;
   }
.logo-image {
    width: 5.5rem;
    height: 4 rem;
    max-width: 65px;
}
   /* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu-nav {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    color: white;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}

 

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: #FF6A3D;
   }
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .logo{
        padding-top: 5px;
        padding-left: 2px; 
    }

    .menu.btn {
        position: absolute;
		z-index: 3;
		right: 36px;
		top: 36px;
		cursor: pointer;
		transition: all 0.5s ease-out;
    }
    .menu-btn .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #FF6A3D;
        z-index: 11;
        transition: all 0.5s ease-out;
    }
    .menu-btn.close {
        transform: rotate(180deg);
    }
    /* Styling the three lines to make it an X */
    .menu-btn.close .btn-line:nth-child(1) {
        background: white;
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.close .btn-line:nth-child(3) {
        background: white;
        transform: rotate(-45deg) translate(7px, -6px);
    }

    .menu {
        position: absolute;
        opacity: 0.9;
        visibility: hidden;
        margin: 0 auto;
        padding-right: 50rem;
        margin-left: -18%;
        align-self: center;
        align-content: center;
    }

    .menu-nav{
        display: inline-block;
        position: absolute;
        color:white;
        right: 200rem;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu-nav .nav-item:hover {
        display: inline-block;
        color:white;
        transition: 0.3s ease;
    }
    .menu-nav .nav-item a{ 
        padding: 0.5rem;   
        background-color: #1a2238d8;
    }
    .menu-nav .nav-item + .nav-item {
        margin-top: 12px;
        margin-bottom: 4px;
    }  

    .menu.show {
        visibility: visible;
    }
    /* Adding a transition delay
		to the 4 items in the
		navigation menu */
	.nav-item:nth-child(1) {
		transition-delay: 0.05s;
	}

	.nav-item:nth-child(2) {
		transition-delay: 0.1s;
	}

	.nav-item:nth-child(3) {
		transition-delay: 0.15s;
	}

	.nav-item:nth-child(4) {
		transition-delay: 0.2s;
	}
    /*end*/
    
    input[type=checkbox]:checked ~ .menu{
         display: block;
       }
       .hamburger {
        display: block;
       }
       .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
       }
       .dropdown li:hover {
        background-color: #1A2238;
       }
    .social-bar-left-index{
        padding-top: 1.5rem;
        text-align: center;
        margin-left: -40px;
        font-size: small;
      }

      /* Bottom image and text */
      .content-wrapper{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        bottom: 10px;;
    }
    /*
    .two-column-wrapper{
        padding-left: 40px;
        align-content: center;
        display: flex;
    }
    .profile-image-wrapper{
        display: inline-block;
        width: 100vw;
        height: 50vh;
        margin: 0 auto;
    }
    .profile-image-wrapper img {
        display: inline-block;
        width: 100vw;
        height: 50vh;
        align-items: center;
        align-self: center;
        
    }
   
    .profile-content-wrapper {
        display: inline-block;
        width: 100vw;
        height: 50vh;
        padding: 30px;
        margin-bottom: auto;
    }

    .profile-content-wrapper h1 {
        font-size: 3rem;
        color: #FF6A3D;
    }

    .profile-content-wrapper p1 {
        padding-top: 0px;
        display: block;
        align-content: left;
        font-size: 1.8rem;
        padding-right: 10%;
        color: #f1f1f1;
    }
    */

    /* Projects links*/
      .img-text-wrapper {
        position: absolute;
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width:20%;        
        margin-left: 20px;
        margin-right: 20px;
        
    }
    .info-wrapper{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        margin: 0 auto ;
        display: grid;
        text-align: left;
        font-weight:300;
        font-size:42px;
    }
    .intro1{
        width: 100%;
        margin: 0 auto ;
        margin-left: 90px;
        color: #FF6A3D;
        display: block;
        align-content: center;
        font-size: 24px;
    
    }
    
    .intro2{
        width: 100%;
        margin: 0 auto ;
        margin-left: 90px;
        padding-top: 5px;
        color:white;
        display: block;
        align-content: center;
        font-size: 65px;
    }
    
    .intro3{
        width: 100%;
        margin: 0 auto ;
        padding-top: 10px;
        margin-left: 90px;
        display: block;
        color: rgb(158, 158, 158) ;
        align-content: left;
        font-size: 27px;
        padding-right: 20%;
    }

    
    /* Bottom image and text */
    .two-column-wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-top: 20px;
        display: inline-block;
        margin-bottom: 20px;
    }
    .profile-image-wrapper{
        right: -90px;
        padding-left: 40px;
        margin-left: 40px;
        margin-right: -40px;
        margin: 0 auto;
        display: inline-block;
        position: absolute;
        height: 50vh;
        padding-left: 10px ;
        width: 100vw;
    }

    .profile-image-wrapper img {
        width: 100%;
        margin: 0 auto;
    }
   
    .profile-content-wrapper {
        right: -70px;
        margin-top: 18rem;
        margin-left: 100px;
        position: absolute;
        height: 50vh;
        width: 100vw;
        padding: 30px;
        display: inline-block;
    }

    .profile-content-wrapper h1 {
        font-size: 3rem;
        color: #FF6A3D;
    }

    .profile-content-wrapper p1 {
        padding-top: 10px;
        display: block;
        align-content: left;
        font-size: 25px;
        padding-right: 10%;
        font-size: 2rem ;
        color: #f1f1f1;
        padding-bottom: 9rem;
    }
    /* Projects*/
    .projects-intro{
        width: 100%;
        margin: 0px auto;
        margin-left: 50px;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;  
    }
    .content-wrapper{
        width: 100%;
        margin: 0px auto;
        padding-left:62rem;
        padding-right: 2rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .portfolio-items-wrapper {
        margin-left: -30px;
        margin-right: -180px;
        display: flex;
        flex-direction: column;
    }
    .portfolio-item-wrapper {
        display: flex;
        position: relative;  
    }
    .portfolio-item-wrapper:hover{
        cursor: none;
    }
    .portfolio-item-wrapper .img-text-wrapper .subtitle{
        font-weight: 600;
        font-size: medium;
        color: #FF6A3D;
        transition: 0.6s;
    }

    .portfolio-item-wrapper .img-text-wrapper .logo-wrapper img {
        transition: 0.4s;
        opacity: 1;
    }

    .portfolio-img-background {
        height: 400px;
        width: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 32px;  
        opacity: 60%;
    }

    .img-text-wrapper {
        position: relative;
        top: 0;
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20%;
        text-align: center;
        width: 40rem;
        margin:0 auto;  
    }

    .logo-wrapper img   {
        width: 50%;
        margin-bottom: 20px;
        opacity: 0;
    }


    .img-text-wrapper .subtitle {
        font-weight: 600;
        color: transparent;
    }
    
    /* bottom image and text*/
    /*
    .two-column-wrapper {
        margin-left: 30px;
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   
    .profile-image-wrapper{
        margin: 0 auto;
        width: 100%;
        align-content: right;
        padding-right: -20px;
        padding-left: 20px;
        margin-left: 800px;
        margin-right: -200px;
    }

    .profile-image-wrapper img {
        margin-left: 300px;
        right: 0;
        margin-left: 200px;
        border: 2px transparent;
        border-radius: 40px;
        width: auto;
        max-width: 82%;
        height: auto;
    }

    .profile-content-wrapper {
        padding: 30px;
        position: relative;
        margin-bottom: auto;
    }

    .profile-content-wrapper h1 {
        font-size: 3rem;
        color: #FF6A3D;
    }

    .profile-content-wrapper p1 {
        padding-top: 10px;
        display: block;
        align-content: left;
        font-size: 25px;
        margin-right: 20%;
        padding-right: 80%;
        font-size: 2rem ;
        color: #f1f1f1;
      }
      */

}

.brand {
    margin-right: 16px;
    
}

.brand img{
    width: 5em;
    height: 3em;
    margin-top: -15px;
}

.info-wrapper {
    margin-top: 8rem;
    display: flex ;
    grid-template-columns: 1fr;
    align-items: center;
    
}

.portfolio-items-wrapper {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio-item-wrapper {
    padding: 0.5rem;
    position: relative;  
}
.portfolio-item-wrapper:hover{
    cursor: pointer;
}
.portfolio-item-wrapper:hover .img-text-wrapper .subtitle{
    font-weight: 600;
    font-size: medium;
    color: #FF6A3D;
    transition: 0.6s;
}

.portfolio-item-wrapper:hover .img-text-wrapper .logo-wrapper img {
    transition: 0.4s;
    opacity: 1;
}

.portfolio-img-background {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 32px;  
    
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    width:90%;
    margin:0 auto;  
}

.logo-wrapper img   {
    width: 50%;
    margin-bottom: 20px;
    opacity: 0;
}


.img-text-wrapper .subtitle {
    font-weight: 600;
    color: transparent;
}



.img-darken {
    transition: 0.8s;
    filter: brightness(20%);
}

.two-column-wrapper {
    right: 0;
    align-content: right;
    align-items: right;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3rem;
}
.portfolio-image-wrapper{
    margin-left: 200px;
    border-radius: 40px;

}
.profile-image-wrapper{
    max-width:fit-content;    
    padding-bottom: 2rem;
    display: block;
    margin-right: 2px;
    margin-left: auto;
    height: auto;
}

.profile-image-wrapper img {   
    display: block;
    margin-right: 2px;
    margin-left: auto;
    height: auto; 
    max-width: 66%;
    border-radius: 40px;
    border: 2px solid transparent ;
    
}

.profile-image-wrapper img:hover{
    border: 2px solid #FF6A3D;
    filter: brightness(80%);
}


.profile-content-wrapper {
    padding: 30px;
    position: relative;
    margin-bottom: auto;
}

.profile-content-wrapper h1 {
    font-size: 3rem;
    color: #FF6A3D;
}

.profile-content-wrapper p1 {
    padding-top: 0px;
    display: block;
    align-content: left;
    font-size: 1.8rem;
    padding-right: 10%;
    color: #f1f1f1;
}

/* welcome animated sign */
.info-wrapper{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: grid;
    text-align:left;
    font-weight:300;
    font-size:42px;
    padding-top: 8px;
    padding-left: 20%;
    padding-bottom: 5rem ;

}
.intro1{
    color: #FF6A3D;
    display: block;
    align-content: center;
    font-size: 24px;

}

.intro2{
    padding-top: 5px;
    color:white;
    display: block;
    align-content: center;
    font-size: 65px;
}

.intro3{
    padding-top: 10px;
    display: block;
    color: rgb(158, 158, 158) ;
    align-content: left;
    font-size: 27px;
    padding-right: 20%;
}

.content-wrapper{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.projects-intro{

    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;   
}
  .projects-intro p1 {
      color: #FF6A3D;
        text-transform: initial;
        padding: 3rem;
        margin-bottom: -2rem;
        align-items: center;
        font-size: 2rem
  }

  

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #FF6A3D;
    color: #070e4b;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: skyblue;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* social bar */

.social-bar{
    align-items: center;
    align-self: center;
    padding-left: auto;
    padding-right: 10rem;
    padding-top: 1.5rem;
    text-align: center;
  }
  .social-btn{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 40%;
    color: #FF6A3D;
    overflow: hidden;
    position: relative;
  }
  .social-btn i{
    line-height:120px;
    font-size: 50px;
    transition: 0.2s linear;
    margin-bottom: 3px;
  }
  .social-btn:hover i{
    -webkit-transform: translateY(-5px);
	transform: translateY(-5px);
    color: white;
    
  }
  .social-btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #FF6A3D;
    box-shadow: #070e4b;
    left: -110%;
    top: 90%;
  }


  .emailRightBar {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: white;
}

.emailLinkWrapper{
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.emailLinkWrapper a{
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
}

.contact-links-left-bar {
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: column;
    writing-mode: vertical-lr ;
    position: relative;
    width: 40px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: auto;
    z-index: 10;
    color: white;
  }
  
  .social-bar-left-index{
    padding-top: 1.5rem;
    text-align: center;
  }

  /* Button underline */
  .hover-underline-animation {
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline-block;
    position: relative;
    color: #FF6A3D;
    border-bottom: transparent ;
  }

  .hover-underline-animation:hover{
      cursor: pointer;  
  }

  .hover-underline-animation a{
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline-block;
    position: relative;
    color: #FF6A3D;
    text-decoration: none;   
    font-size: 27px; 
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF6A3D;
    transform-origin: bottom left;
    transition: transform 0.30s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
  }